<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>221509436504-59jmdah9u96lfvhei2osanqeontho39d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.221509436504-59jmdah9u96lfvhei2osanqeontho39d</string>
	<key>API_KEY</key>
	<string>AIzaSyCL2vW590-rHNy7Cebq8IEq1fn1s1yYN8g</string>
	<key>GCM_SENDER_ID</key>
	<string>221509436504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hackzTyranno</string>
	<key>PROJECT_ID</key>
	<string>hackz-tyranno</string>
	<key>STORAGE_BUCKET</key>
	<string>hackz-tyranno.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:221509436504:ios:dc6c5ff631068cc69c762d</string>
</dict>
</plist>